html{
    height: 100vh;    
    background: #ffc101;
    font-family: 'Source Sans Pro', sans-serif;

    /* Old browsers */
    background: -moz-linear-gradient(top, #ffc101 0%, #f7d776 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffc101 0%, #f7d776 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffc101 0%, #f7d776 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc101', endColorstr='#f7d776', GradientType=0);
}

body {
    height: 100%;
    text-align: center;
    background-image: url("../img/rings.png");
    background-position: left -60px bottom -60px;
    background-repeat: no-repeat;
    background-size: 60% auto;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 400px;
    height:300px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-150px 0 0 -200px;
    /**border: 1px dotted white;**/
}
    .wrapper img {
        padding-top: 10px;
        width:60%;
    }


h1 {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  color: blue;
  font-size: 1.5em;
}

@media only screen and (min-width: 768px) {
    .wrapper img {
        width:100%;
    }
  }
